body {
  background-color: #000;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//////////////////////////////////////

.main_header{
  border-top: 0;
  min-height: 80px;


  background-image: linear-gradient(bottom, rgb(237,192,87) 21%, rgb(237,237,147) 61%, rgb(252,252,211) 81%);
  background-image: -o-linear-gradient(bottom, rgb(237,192,87) 21%, rgb(237,237,147) 61%, rgb(252,252,211) 81%);
  background-image: -moz-linear-gradient(bottom, rgb(237,192,87) 21%, rgb(237,237,147) 61%, rgb(252,252,211) 81%);
  background-image: -webkit-linear-gradient(bottom, rgb(237,192,87) 21%, rgb(237,237,147) 61%, rgb(252,252,211) 81%);
  background-image: -ms-linear-gradient(bottom, rgb(237,192,87) 21%, rgb(237,237,147) 61%, rgb(252,252,211) 81%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.21, rgb(237,192,87)),
      color-stop(0.61, rgb(237,237,147)),
      color-stop(0.81, rgb(252,252,211))
  );

}

.main_header_container{
  padding-top: 20px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  h1{
    margin: 0;
  }
}

.main_container{
  background-image: url('/assets/halobc.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
}

.container_center{

  width: 900px;
  min-height: 1200px;
  //max-height: 1200px;
  margin-right: auto;
  margin-left: auto;
}