<!DOCTYPE html>
<html>
<head>
  <title>Webstrat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main_header">
  <div class="main_header_container">
    <h1>Magazine Book</h1>
  </div>
</div>

<div class="main_content">
<%= yield %>
</div>

</body>
</html>
